.header{
    width: 100%;
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.image img{
    width: 3rm;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    overflow: auto;
}

.left_view{
    font-size: 21px;

}
.left_view h4 span{
    font-weight: 400;
    /* color: rgb(78, 76, 76); */
}
.right_view h4 span{
    font-weight: 400;
    /* color: rgb(78, 76, 76); */

}
.select{
    background-color: brown;
}